<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
/>

<h3>Register</h3>
<form accept="/register" method="POST">
  <div class="form-group">
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
